NODE_ENV=production
PORT=3000
SESSION_SECRET=bffa66fdd4a63d4a05791a42dd2c69d5280d0d4a5319ab32c7b8d4fe08a9865e9a2ab9fad5c4b1ac210279c3d390d8dd
COOKIE_SECURE=true
TRONGRID_BASE_URL=https://api.trongrid.io
TRONGRID_API_KEY=a6277646-0b51-495e-97ee-cb20e26993da
PAYMENT_ADDRESS=TA3VbsQJKS5AiMG8gGJaPj8kcfDdBikDao
USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
USDT_DECIMALS=6
